<!DOCTYPE html>
<html>
  <head>
    <title>MiniApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
 
    <script
      src="https://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"></script>

  </head>

  <body>
    <nav>
    <div class="nav-wrapper">
      <a href="/blogs" class="brand-logo">Blog</a>
      <% if user_signed_in? %>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %>ログアウト</li>
        <li><a href="/blogs/new">投稿する</a></li>
      <% else %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/users/sign_in">サインイン</a></li>
        <li><a href="/users/sign_up">新規登録</a></li>
      </ul>
      <% end %>
    </div>
    </nav>

    <%= yield %>

    <footer>
    </footer>
  </body>
</html>
